---
layout: base
---

<header class="large-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Full <abbr title="Python, Drupal, Django, PHP, NodeJS, AngularJS, Postgres, MongoDB, Neo4J, BackboneJS.">stack</abbr> developer</h1>
                <h2>and open data architect</h2>
                <p>Over 12 years experience building <a title="Web development" href="portfolio.html">websites</a>, <a title="Launching startups" href="portfolio.html#richseam">launching startups</a> and leading agile development teams.</p>
            </div>
        </div>
    </div>

</header>

<div id="home">

    <div class="container">
        <div class="row">

            {% assign posts = (site.posts | where: "home" , "true") %}

            {% for post in posts %}

            {% if post.categories contains "portfolio" %}
                {% assign url = 'portfolio.html#' | append: post.title | replace:' ','-' | downcase %}
            {% else %}
                {% assign url = post.url | prepend: site.baseurl %}
            {% endif %}

            <div class="col-sm-4 block">
                <div>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} | <a href="/{{ post.categories }}.html">{{ post.categories }}</a></span>
                    <h3>
                        <a href="{{ url }}">{{ post.title }}</a>
                    </h3>
                    <p>{{ post.subtitle }}.</p>
                </div>
                <a width="270" height="120" class="image" title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
                    <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
                </a>

            </div>
            {% endfor %}
        </div>
    </div>

</div>


