---
layout: default
---

<article>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                {{ content }}
            </div>
            <div class="col-sm-3" id="side-column">
                <p class="post-meta">{{ page.date | date: "%-d %b %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

                <ul id="tags" class="list-unstyled">
                    {% for tag in page.tags %}
                    <li><span>{{ tag }}</span></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

</article>


